---
import MainLayout from '@/layouts/MainLayout.astro';
---

<MainLayout>
	<div class="flex flex-col min-h-screen px-4 py-10 bg-blue-50 text-neutral-800">
		<h1 class="text-4xl font-medium text-center mt-10">สวัสดี, <a class="text-blue-700 italic">Rinkai</a></h1>
		<p class="text-center mt-4">Build your future with speed by Rinkai</p>
	</div>
</MainLayout>
